Widget {
    scrollbar-background: rgb(20, 20, 20);
    scrollbar-background-hover: rgb(18, 18, 18);
    scrollbar-color: rgb(100, 100, 100);
    scrollbar-color-active: rgb(120, 120, 120);
    scrollbar-corner-color: rgb(64, 64, 64);
    scrollbar-size-vertical: 2;
    scrollbar-size-horizontal: 1;
}

ProtoContainer {
    height: auto;
    overflow: hidden;
}

RequestWidget {
    height: auto;
}

ProtoWidget {
    margin-bottom: 1;
}

ProtoWidget.hover {
    background: rgb(25, 25, 25);
}

InspectWidget {
    background: rgb(28, 28, 28);
}

InspectHeader {
    dock: top;
    width: 100%;
    height: 2;
    padding-top: 1;
    padding-left: 1;
    border-bottom: hkey rgb(16, 16, 16);
}

ScreenWidget {
    padding: 0 0 0 1;
    width: 65;
    dock: left;
    background: rgb(16, 16, 16);
}

InputContainer {
    height: 3;
    layout: horizontal;
}

InputWidget {
    height: auto;
    dock: bottom;
}

CommandInput {
    border-top: hkey rgb(0, 0, 0);
    background: rgb(28, 28, 28);
    width: auto;
    padding: 0 4;
    height: 3;
}

CustomInput {
    border-top: hkey rgb(0, 0, 0);
    background: rgb(16, 16, 16);
    padding: 1 3;
    height: 3;

    /*background: rgb(16, 16, 16);*/
    /*height: 1;*/
    /*padding: 0;*/
    /*width: 100%;*/
}

/*Input>.input--cursor {*/
/*        color: $text;*/
/*        text-style: reverse;*/
/*    }*/
/*Input>.input--placeholder {*/
/*    color: $text-disabled;*/
/*}*/

CustomInput:focus {
    border: none;
}

CommandOverview {
    layout: horizontal;
    height: auto;
    padding: 1 0 1 4;
    border-top: hkey rgb(0, 0, 0);
    background: rgb(16, 16, 16);
    /*margin-bottom: 3;*/
}

CommandEntryContainer {
    height: auto;
    width: 1fr;
    max-width: 45;
    padding-left: 1;
    overflow: hidden;
}

CommandEntry {
    padding-bottom: 1;
}

#command-title {
    padding-bottom: 1;
}